<h1>Welcome Admin</h1>
 Users Count: <%= @users_count %><br/>
 Wolfram | Alpha Credits: <%= @wa_credits %><br/>
<br/>
<a href="<%= admin_users_path%>"> Users </a> |
<a href="<%= admin_updates_path%>"> Updates </a> |
<a href="<%= admin_feedbacks_path%>"> Feedbacks </a>
